@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./image/ornaments-gdf206c627_1920.jpg");
    min-height: 100vh;
}

.container {
    position: relative;
    background-color: #aca588;
    box-shadow: 10px 50px 70px black,
    inset 5px 5px 10px #818177,
    inset 5px 5px 20px #818177,
    inset -5px -5px 15px #818177;
    border-radius: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #aca588;
    border-radius: 50%;
    box-shadow: 10px 50px 70px black,
    inset 5px 5px 10px #818177,
    inset 5px 5px 20px #818177,
    inset -5px -5px 15px #818177;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #1d0000;
    border-radius: 50%;
    z-index: 10;
}

.number {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    font-size: 40px;
}

.number b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #6f4617;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle-2 {
    width: 240px;
    height: 240px;
}

.circle-3 {
    width: 180px;
    height: 180px;
}

.circle span {
    position: absolute;
    background-color: var(--clr);
    opacity: 0.75;
    width: 8px;
    height: 50%;
    border-radius: 20px;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) span {
    width: 2px;
}

.circle:nth-child(2) span {
    width: 6px;
}

.circle::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--clr);
    top: -8px;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}

.digital {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 300px;
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(53, 53, 53, 0.5),
    inset -5px -5px 5px rgba(26, 26, 26, 0.5);
    font-size: 20px;
}

.digital-clock{
    position: relative;
    color: var(--clr);
    padding: 10px;
}

.digital-clock:last-child {
    font-size: 13px;
}

.digital-clock:nth-child(1)::after,
.digital-clock:nth-child(2)::after {
    content: ":";
    position: absolute;
    right: -2.5px;
}

.digital-clock:nth-child(2)::after {
    color: #1d0000;
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0% {
        opacitiy: 1;
    }
    50% {
        opacity: 0;
    }
}